<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.project.main.model.mapper.MainMapper">

  
	<select id="selectMemberList">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NICKNAME, MEMBER_DEL_FL
		FROM "MEMBER"
	</select>
	
	<update id="pwReset">
		UPDATE "MEMBER" SET
		MEMBER_PW = #{password}
		WHERE MEMBER_NO = #{memberNo}	
	</update>
	
	<update id="memberRestore">
		UPDATE "MEMBER" SET
		MEMBER_DEL_FL = 'N'
		WHERE MEMBER_NO = #{memberNo}
	</update>
</mapper>
